/**************** 
* HEADER SECTION
*****************/

#index-banner {
    height: 100vh;
    background: url('assets/images/background.jpg');
}

nav {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;

    ul a,
    .brand-logo {
        color: $white;
    }

    ul a:hover {
        background: none;
    }

}