/**************** 
* HEADER SECTION
*****************/

#index-banner {
    height: 100vh;
    background: url('assets/images/background.jpg');
}

nav {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;

    ul a,
    .brand-logo {
        color: $white;
    }

    ul a {
        font-size: 14px;
        padding: 0;
        margin: 0 10px;
        letter-spacing: 0.075em;
        &:hover {
            background: none;
        }
    }

    .underline {
        display: inline;
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            right: 0;
            width: 0;
            bottom: -6px;
            background: $white;
            height: 2px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

        &:hover:after,
        &:focus:after,
        &:active:after {
            left: 0;
            right: auto;
            width: 100%;
        }
    }

    .brand-logo {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.075em;
    }
}

.header {
    color: $white;
}

/**************** 
* MAIN CONTENT
*****************/

.main-content {
    &.container {
        width: 85%;
    }
}

.biography,
.credits,
.photos,
.videos,
.contact {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

.biography {
    &__heading {
        font-weight: bold;
    }
}

.credits {
    background-color: $light-grey;
    color: $black;
    
    .container {
        width: 85%;
    }

    &__heading {
        font-weight: 700;
    }

    &__sub-heading {
        padding-bottom: 15px;
    }

    &__section {
        padding-bottom: 50px;

        p {
            font-weight: 300;
        }
    }
}

/**************** 
* FOOTER
*****************/
.page-footer {
    padding-top: 0;
    background-color: $black;
    color: $white;

    .row {
        margin-bottom: 0px;
    }

    &__social-media {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        li {
            display: inline-block;

            a {
                padding-left: 10px;
                padding-right: 10px;
                i {
                    color: $grey;
                }
            }
        }
    }
}

.footer-copyright {
    .container {
        width: 85%;

        p {
            font-size: 12px;
        }
    }
}

/**************** 
* MEDIA QUERIES
*****************/
@media only screen and (min-width: 993px) {
    nav {
        height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
    }
}